3.0.0.507
1002
1000,Index.htm,0,International - VescoPlastics Stock,0,1060166293,1
vti_globalpage:BW|true
1001,sid:1001,0,New Link Bar,0,1118296971,2
vti_navsequence:BW|true
vti_globalpage:BW|true