vti_encoding:SR|utf8-nl
vti_featurelist:VX|vti_ACCreateNewUsers vti_ACChangePassword vti_ACNoUserGroup vti_ACCreateNewGroups vti_ACModifyGroups
vti_dependenciesood:IR|0
vti_webservertype:SR|msiis
vti_categories:VR|Travel Expense\\ Report Business Competition Goals/Objectives Ideas Miscellaneous Waiting VIP In\\ Process Planning Schedule
vti_navbuttonnextlabel:SR|Next
vti_servertz:SX|+0200
vti_textindexood:IR|0
vti_structfrom_localhost\\c\:\\documents and settings\\joan marran\\my documents\\webs\\vescom\\de/c\:/documents and settings/joan marran/my documents/webs/vescom/de:TR|04 Mar 2008 14:05:17 -0000
vti_approvallevels:VR|Content\\ Review Legal\\ Review Code\\ Review Manager\\ Review Approved Denied Pending\\ Review
vti_timecreated:TR|12 Oct 2007 06:10:25 -0000
vti_extenderversion:SR|4.0.2.7802
vti_navbuttonprevlabel:SR|Back
vti_borderdefault:SR|tlb
vti_longfilenames:IX|1
vti_welcomenames:VX|index.htm Default.htm Default.asp
vti_oldestcompatibleversion:SR|2.0.0.0
vti_serverlanguages:VX|en-us
vti_restartmanual:IX|0
vti_defaultlanguage:SR|en-us
vti_defaultcharset:SR|windows-1252
vti_hasglobalasa:BR|false
vti_publishmetainfokeys:VR|vti_assignedto vti_approvallevel vti_categories vti_description
vti_approvalapproved:SR|Approved
vti_approvaldenied:SR|Denied
vti_hassearchbot:BR|false
vti_autorecalc:IX|0
vti_htmlextensions:SX|.htm.html.htm.html.stm.shtml.shtm.htt.htx.asp.alx.asa.
vti_navbuttonhomelabel:SR|Home
vti_insecureserverurl:SR|http://vesconite.com
vti_disableautoimgsizeexts:SX|.asp
vti_servercharsets:VX|windows-1257 big5 windows-1252 windows-1254 iso-8859-2 iso-8859-15 windows-874 shift_jis utf-8 windows-1251 windows-1256 euc-kr gb2312 windows-1253 windows-1258 koi8-r iso-2022-jp ks_c_5601-1987 windows-1250 windows-1255 euc-jp unicode unicodeFFFE
vti_casesensitiveurls:IX|0
vti_httpdversion:SX|Microsoft-IIS/5.0
vti_textextensions:SX|.txt.txt.
vti_navbuttonuplabel:SR|Up
vti_ignorekeyboard:IR|0
