
RewriteEngine on
RewriteCond %{HTTP_HOST} ^download\.vesconite\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.download\.vesconite\.com$
RewriteRule ^/?$ "http\:\/\/www\.vesconite\.com\/vesco\/self_service\/downloads\/manuals\/DownloadURL\.htm" [R=301,L]

